# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Alejandro Maruri\Documents\EAMT\USFQ\Semestres\09_Noveno_Semestre\Aplicaciones_Distribuidas\3_Projects\Project1\Registration_Messaging\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
